**/__pycache__
**/.DS_Store
**/.pytest_cache
**/*.egg-info
**/*.hpp
**/*.pdf
**/*.png
**/*.ipynb
**/.ipynb_checkpoints
**/.jupyter_cache
**/_build
**/jupyter_execute
.cmdstanpy_cache
.doit.db
.coverage
.git
.vscode
htmlcov
playground
workspace

# Exclude all the compiled models.
stan/docs/getting_started/getting_started
stan/docs/getting_started/getting_started_non_centered
stan/docs/padding/exact
stan/docs/padding/padded
stan/docs/poisson_regression/poisson_regression_fourier_centered
stan/docs/poisson_regression/poisson_regression_fourier_non_centered
stan/docs/poisson_regression/poisson_regression_graph_centered
stan/docs/poisson_regression/poisson_regression_graph_non_centered
stan/docs/poisson_regression/poisson_regression_centered
stan/docs/poisson_regression/poisson_regression_non_centered
stan/docs/trees/trees
stan/docs/tube/tube
stan/gptools/stan/profile/fourier_centered
stan/gptools/stan/profile/fourier_non_centered
stan/gptools/stan/profile/graph_centered
stan/gptools/stan/profile/graph_non_centered
stan/gptools/stan/profile/standard_centered
stan/gptools/stan/profile/standard_non_centered
