# Include all requirements that are also used in CI.
-r gptools-stan/test_requirements.txt
-r gptools-torch/test_requirements.txt
-r gptools-util/test_requirements.txt
# Include additional packages we need for development.
pip-tools
jupytext[myst]
