# Include all requirements that are also used in CI.
-r stan/test_requirements.txt
-r torch/test_requirements.txt
-r util/test_requirements.txt
# Include additional packages we need for development.
pip-tools
jupytext[myst]
