-e file:gptools-stan[tests]
-e file:gptools-torch[tests]
-e file:gptools-util[tests]
# In contrast to test requirements, we define documentation requirements centrally because we only
# ever build the documentation as a monolith.
doit_interface
jupyter
matplotlib
nbsphinx
sphinx
sphinx_rtd_theme
sphinx-stan>=0.1.5
