# Include all requirements that are also used in CI.
-e file:./stan
-e file:./util
# Include additional packages we need for development.
black
doit-interface
flake8
ipython<=8.18.1
jupyter
jupytext[myst]
matplotlib
myst-nb
nbclient<=0.5.13  # Required for myst-nb.
networkx<=3.2.1
openpyxl
pip-tools
pyproj
pytest
pytest-cov
scipy
sphinx
sphinx_rtd_theme
sphinx-multiproject
sphinx-stan>=0.1.5
tabulate
twine
